.view-history-container {
    background-color: #a7c6ec;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    padding: 1rem;
}

.view-history-container .header-container a {
    padding: 0px 25px;
    text-decoration: none;
    color: black;
}

.view-history-container .header-container h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

/* Centers content (like the card) */
.content-center {
display: flex;
justify-content: center;
width: 100%;
}

/* Card container */
.card {
background-color: white;
border-radius: 12px;
padding: 2rem;
width: 100%;
max-width: 1000px;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* Top bar for search */
.top-bar {
    max-width: 100%;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    display: block;
}

.top-bar select{
    padding: 0.6rem 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    flex: 1;
    background-color: white;
    color: black;
    margin: 0.3rem;
}

.top-bar input[type="date"] {
    padding: 0.5rem 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 0.95rem;
    color: black;
    margin: 0.3rem;
}

.top-bar .date-range {
    margin: 0.3rem;
}

.top-bar input[type="text"] {
    padding: 0.6rem 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    flex: 1;
    margin: 0.3rem;
}

.top-bar button {
    padding: 0.5rem 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 0.95rem;
    cursor: pointer;
}

/* Table */
table {
width: 100%;
border-collapse: collapse;
text-align: left;
}

th, td {
padding: 1rem;
border-bottom: 1px solid #eee;
}

th {
background-color: #f2f2f2;
font-weight: bold;
}

td {
vertical-align: middle;
}

/* Footer */
.footer {
text-align: center;
margin-top: 4rem;
padding: 1rem;
font-size: 0.9rem;
color: #333;
}

/* Header bar */
.header-container {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 2rem;
gap: 1rem;
flex-wrap: wrap;
}

.header-container h2 {
margin: 0;
}

#logout_button {
margin-left: auto;
}
